<% unless page.parent_id == nil %>

<tr class="parent_<%= page.parent_id %> <% unless params[:parent] %>subcategory<% end %>">
<% else %>

<tr>
<% end %>



	<td class="title"><%=h truncate(page.title, 15) %></td>


	<td>
	<table class="nolines">
		<tr>
			<td><%= link_to image_tag ('system/admin/buttons/search.jpg', :height => "15px", :title => "show"), admin_page_path(page) %></td><td>&nbsp;|&nbsp;</td>
			<td><%= link_to image_tag ('system/admin/buttons/edit.jpg', :height => "15px", :title => "edit"), edit_admin_page_path(page) %></td><td>&nbsp;|&nbsp;</td>
			<td><%= link_to image_tag ('system/admin/buttons/delete.jpg', :height => "15px", :title => "delete"), admin_page_path(page), :confirm => 'Are you sure?', :method => :delete %></td>
		</tr>
	</table>	
	</td>

</tr>

<%= render :partial => "page", :collection => page.subpages %>

