<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="google-site-verification" content="UdFayEvfr96kGimh1yuBtvLbtCYyjbhya_s6CfTOMFQ" />
		<title>Granada Insider</title>
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
		<script src="http://www.google.com/jsapi" type="text/javascript"></script>
		<script type="text/javascript" charset="utf-8">
	 	 // google.load("swfobject", "2.2");
	 		google.load("jquery", "1.3.2");
			google.load("jqueryui", "1.7.2");
		</script>
		<%= stylesheet_link_merged :base %>
		<!--[if IE]>
		    <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<![endif]-->
	  <%= javascript_include_merged :base %>
	
	<style type="text/css">

	  .clearfix:after {
	    content: ".";
	    display: block;
	    height: 0;
	    clear: both;
	  }

	</style>

	<!--[if IE]>
	<style type="text/css">
	  .clearfix {
	    zoom: 1;     /* triggers hasLayout */
	    } 
	</style>
	<![endif]-->
	
	
  </head>
  <body>
   <div id="wrapper">
      <div id="header">
        <div id="logo">
         
        </div> 
       
				<div id="navbar">
					<%= render :partial => "shared/menu/back"	%>
        </div>               
				<div id="sub_navbar">
							<%= yield :sub_menu %>
				</div>
      </div>  
		
		<%= yield %>

    </div>
     <div id="footer">
     </div> 
		<%= yield :script %>

 </body>
</html>



